/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

 .appName {

 	background-color: #8ed5cc;
 	color: white;
 }

 .appName a, a:hover, a:active, a:visited {

 	margin-top: 0;
 	color: white;
 }

 .created_at_time {

 	color: #d7d7d7;
 }

 .footer {

 	background-color: #EEE;
 	position:fixed;
 	width: 100%;
    bottom:0px;
 }

 .footer a, a:hover, a:active, a:visited {

 	margin-top: 0.25em;
 	color: #AAA;
 }

 .footer p {

 	font-size: 0.75em;
 	margin-bottom: 0.25em;
 	color: #AAA;
 }

 .section_bubble {

 	background-color: #efeeee;
 	padding: .75em 2em;
 	margin-top: 1em;
 	border-radius: 3em 3em;

 }

 #male_button {

 	padding: 1em 0 0 0.5em;
 }

 #female_button {

 	padding: 1em 0.5em 0 0;
 }

 #other_button {

 	padding: 1em 0 0 0.5em;
 }

 #parents_button {

 	padding: 1em 0.5em 0 0;
 }